@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Regular.ttf');
  src: url('./Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Italic.ttf');
  src: url('./Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Bold.ttf');
  src: url('./Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-BoldItalic.ttf');
  src: url('./Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Light.ttf');
  src: url('./Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-LightItalic.ttf');
  src: url('./Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Medium.ttf');
  src: url('./Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-MediumItalic.ttf');
  src: url('./Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}