body{
    background-color:lightblue;
    text-align: center;
    margin 50px;
    }

.header{ 
    color:blueviolet;
    }
.links{
    font-size:18px;    
    }    
a{
    display: inline-block;
    margin-right: 30px;
}
.content{
display: inline-block;
margin 20px;
height: 600px;
width: 600px;
align-content:center;
text-align: justify;
    }

p{
    font-size:24px;
    margin-top: 50px;
    }
img{
    width: 50px;
    height: 50px;
    }
table{
    margin: auto;
}
td{
    margin 50 px;
}
.list {
    list-style-type: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
    }
footer{
    position:fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
}