.SeparaBotao{
    
    display: flex;
    justify-content: space-around;
}

.Informacoes{
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;
    height: 420px;
    width: 300px;
    margin: 0 auto;
}

.BottomLeft{
    color:white;
    font-weight: 700;
    position: absolute;
    bottom: 2%;
    left: 5%;
    text-align: left;
    padding-right: 2%;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}
