html{
  background-color: rgb(223, 234, 245);
}
.App {
  background-color: rgb(251, 251, 251)
  ;
  text-align: center;
  border: 1px solid black;
  width: 375px;
  height: 600px;
  margin: 30px auto;
  border-radius: 5px;
  overflow-y: auto;
}

img {
  height: 420px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
